<!DOCTYPE html>
<html>
  <head>
    <link type = "text/css" rel= "stylesheet" href = "/css/resets.css" />
    <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel= "stylesheet" href= "/css/style.css" />
  </head>

  <body>

  <header>
    <%= "meow "*10 %>
  </header>

  <aside id ="scroller">
    <h2 id = "questions">
      <a href= "/about">WHO?</a>
      <a href= "/">WHAT?</a>
      <a href="http://meow-sinatra.herokuapp.com">WHY?</a>
    </h2>
     <ul class ="bloglist">
       <% Post.most_recent_list.each do |path| %>
           <li> <a href= <%= path.url %> > <%=path.title%>  </a> </li>
       <%end%>
     </ul> <!-- bloglist -->
  </aside>

  <section class = "page-content">
    <%= yield %>
  </section>

  <!--Displays only if on an individual post page-->
  <% if defined? @next_post %>
    <% if @prev_post != nil %>
      <a class= "back-page" href= <%= @prev_post.url %> > &#x219c; </a>
    <% end %>
    <% if @next_post != nil %>
      <a class= "next-page" href= <%= @next_post.url %> > &#x219d; </a>
    <% end %>
  <% end %>


    <script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src= "/javascripts/app.js"></script>
  </body>
</html>
